</main>
<div class="footer">
    <div class="layout1200">
        <div class="main">
            <div class="logo fl mt25">
                <img src="/images/public/companyLogo.png"/>
            </div>
            <div class="fr mt25">
                <div class="footerLink">
                    <a href="/article/aboutus">关于我们</a>
                    <a href="/jobs">媒体报道</a>
                    <a href="/article/contract">服务条款</a>
                    <a href="/jobs" class="nomargin">帮助中心</a>
                </div>
                <div class="mt10">
                    维时科技有限公司 ©2014 weadoc.com｜浙ICP备15007035号-1
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rightFix">
    <div class="grid icon backTop hand" data-word="回 顶"></div>
    <div class="grid icon select hand" data-word="查 询"></div>
    <div class="grid icon wechat hand" data-word="微 信"></div>
    <div class="grid icon service hand" data-word="客 服"></div>
</div>
</body>
</html>