<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="上门维修,手机回收,苹果手机维修,iPhone维修,三星回收,闪修侠官网" />
    <meta name="description" content="闪修侠-高品质手机上门维修、手机回收、以旧换新平台,网上透明报价,免费上门维修,所有配件均原厂正品、终身质保。维修从未如此好用,一个电话,服务到家:4008433580。" />
    <link rel='stylesheet' href='/css/base.css?v=1.0.0' />
    <link rel='stylesheet' href='/css/<%= controllerName %>.css' />
    <script type="text/javascript">
        var weadoc={banner:'<%= controllerName %>',staticUrl:'http://localhost',path:'http://localhost',action:'<%= controllerName %>',updata:'http://localhost',area:'浙江省杭州市'}
    </script>
    <script type="text/javascript" src="js/require.js"></script>
    <script type="text/javascript" src="js/main.js?v=1.0.0"></script>
</head>
<body>
<main>
    <div class="layout1200 header">
        <a href="/"><img class="fl headerLogo" src="/images/public/logo.png" /></a>
        <div class="fl topMenu">
            <a href="/" class="ed">首页</a><a href="/fixing">上门维修</a><a href="/twohand">二手回收</a><a href="/change">以旧换新</a><a href="/jobs">招贤纳士</a>        <div href="javascript:;" class="fr Topselect">查询 / 支付</div>
        </div>
    </div>
    <div id="J_headerFixed">
        <div class="layout1200 header">
            <a href="/"><img class="fl headerLogo" src="/images/public/logo.png" /></a>
            <div class="fl topMenu">
                <a href="/" class="ed">首页</a><a href="/fixing">上门维修</a><a href="/twohand">二手回收</a><a href="/change">以旧换新</a><a href="/jobs">招贤纳士</a>        <div href="javascript:;" class="fr Topselect">查询 / 支付</div>
            </div>
        </div>
    </div>
