
  <% include header %>
  <!--banner start-->
  <div class="indexBanner">
    <div class="main">
      <ul id="J_stage">
        <a href="/home/jobs" class="actor" style="width: 1920px; height: 360px;">
          <img data-url="http://www.weadoc.com/upload/image/2015-08-19/55d4372bc5106.jpg" src="http://www.weadoc.com/Static/images/public/loading.gif">
        </a>
        <a href="/act/helloshanghai" class="actor" style="width: 1920px; height: 360px;">
          <img data-url="http://www.weadoc.com/upload/banner/20150914/55f6a181f1324.png" src="http://www.weadoc.com/upload/banner/20150914/55f6a181f1324.png">
        </a><a href="/home/fixing" class="actor" style="width: 1920px; height: 360px;">
          <img data-url="http://www.weadoc.com/upload/banner/20150907/55ed43f14ae49.jpg" src="http://www.weadoc.com/upload/banner/20150907/55ed43f14ae49.jpg">
        </a><a href="/home/fixing?id=5" class="actor" style="width: 1920px; height: 360px;">
          <img data-url="http://www.weadoc.com/upload/image/2015-08-19/55d4370e0d1ca.jpg" src="http://www.weadoc.com/Static/images/public/loading.gif">
        </a><a href="/home/change" class="actor" style="width: 1920px; height: 360px;">
          <img data-url="http://www.weadoc.com/upload/image/2015-08-19/55d4371b2f305.jpg" src="http://www.weadoc.com/Static/images/public/loading.gif">
        </a><a href="/home/jobs" class="actor" style="width: 1920px; height: 360px;">
          <img data-url="http://www.weadoc.com/upload/image/2015-08-19/55d4372bc5106.jpg" src="http://www.weadoc.com/Static/images/public/loading.gif">
        </a><a href="/act/helloshanghai" class="actor" style="width: 1920px; height: 360px;">
          <img data-url="http://www.weadoc.com/upload/banner/20150914/55f6a181f1324.png" src="http://www.weadoc.com/upload/banner/20150914/55f6a181f1324.png">
        </a>
      </ul>
    </div>
    <div class="sign">
      <ul id="J_sign">
        <li data-num="1" class="hand"></li><li data-num="2" class="hand selected"></li><li data-num="3" class="hand"></li><li data-num="4" class="hand"></li><li data-num="5" class="hand"></li>
      </ul>
    </div>
  </div>
  <!--banner over-->

  <!--Hot Maintain start-->
  <div class="maintainMain layout1200 mt20 clearfix">
    <div class="title fl">
      热门维修
    </div>
    <div class="menuMain fl">
      <a href="home/fixing?id=5" class="abox fl">
        <div class="menu" style="background-position: 0px"></div>
        <div class="menuWord">屏幕碎裂</div>
      </a>
      <a href="home/fixing?id=14" class="abox fl">
        <div class="menu" style="background-position: -170px"></div>
        <div class="menuWord">HOME键失灵</div>
      </a>
      <a href="home/fixing?id=9" class="abox fl">
        <div class="menu" style="background-position: -340px"></div>
        <div class="menuWord">后盖破损</div>
      </a>
      <a href="home/fixing?id=8" class="abox fl">
        <div class="menu" style="background-position: -510px"></div>
        <div class="menuWord">摄像头</div>
      </a>
      <a href="home/fixing?id=13" class="abox fl">
        <div class="menu" style="background-position: -680px"></div>
        <div class="menuWord">开机键</div>
      </a>
      <a href="home/fixing?id=24" class="abox fl">
        <div class="menu" style="background-position: -850px"></div>
        <div class="menuWord">进水</div>
      </a>
      <a href="home/fixing" class="abox fl">
        <div class="menu" style="background-position: -1020px"></div>
        <div class="menuWord">更多故障</div>
      </a>

    </div>
  </div>
  <!--Hot Maintain over-->
  <!--History start-->
  <div class="layout1200 history mt60 clearfix">
    <div class="title fl">
      月服务榜单
    </div>
    <div class="fl">
      <div class="hotList org">
        <div class="roof org">
          <div class="brandName">热门下单机型</div>
        </div>
        <ul class="sheet fl">
          <li class="fl">
            <div class="itemWrap">
              <span class="fl">iPhone 6</span>
              <span class="fr">4147次</span>
            </div>
          </li>
          <li class="gray fl">
            <div class="itemWrap">
              <span class="fl">iPhone 5s</span>
              <span class="fr">3781次</span>
            </div>
          </li>
          <li class="fl">
            <div class="itemWrap">
              <span class="fl">小米 Note</span>
              <span class="fr">2525次</span>
            </div>
          </li>
          <li class="gray fl">
            <div class="itemWrap">
              <span class="fl">三星Galaxy S6</span>
              <span class="fr">1367次</span>
            </div>
          </li>
          <li class="fl">
            <div class="itemWrap">
              <span class="fl">iPhone 4s</span>
              <span class="fr">850次</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="hotList green">
        <div class="roof green">
          <div class="brandName">最多维修故障</div>
        </div>
        <ul class="sheet fl">
          <li class="fl">
            <div class="itemWrap"><span class="icon_down">iPhone 6 屏幕破碎 <i class="icon"></i></span></div>
          </li>
          <li class="gray fl">
            <div class="itemWrap"><span class="icon_up">iPhone 5s 触摸失灵<i class="icon"></i></span></div>
          </li>
          <li class="fl">
            <div class="itemWrap"><span class="icon_down">iPhone 4 摄像头故障<i class="icon"></i></span></div>
          </li>
          <li class="gray fl">
            <div class="itemWrap"><span class="icon_line">三星Galaxy S6 进水<i class="icon"></i></span></div>
          </li>
          <li class="fl">
            <div class="itemWrap"><span class="icon_up">小米Note 后盖破裂<i class="icon"></i></span></div>
          </li>
        </ul>
      </div>
      <div class="hotList blue">
        <div class="roof blue">
          <div class="brandName">热门回收</div>
        </div>
        <ul class="sheet fl">
          <li class="fl">
            <div class="itemWrap"><span class="icon_down">iPhone 6<i class="icon"></i></span></div>
          </li>
          <li class="gray fl">
            <div class="itemWrap"><span class="icon_up">Galaxy Note 4<i class="icon"></i></span></div>
          </li>
          <li class="fl">
            <div class="itemWrap"><span class="icon_line">iPhone6 Plus<i class="icon"></i></span></div>
          </li>
          <li class="gray fl">
            <div class="itemWrap"><span class="icon_down">iPhone 5s<i class="icon"></i></span></div>
          </li>
          <li class="fl">
            <div class="itemWrap"><span class="icon_line">iPhone 5<i class="icon"></i></span></div>
          </li>
        </ul>
      </div>
      <div class="hotList purple">
        <div class="roof purple">
          <div class="brandName">热门换新</div>
        </div>
        <ul class="sheet fl">
          <li class="fl">
            <div class="itemWrap"><span class="icon_down">iPhone 6<i class="icon"></i></span></div>
          </li>
          <li class="gray fl">
            <div class="itemWrap"><span class="icon_up">Galaxy Note 4<i class="icon"></i></span></div>
          </li>
          <li class="fl">
            <div class="itemWrap"><span class="icon_line">iPhone6 Plus<i class="icon"></i></span></div>
          </li>
          <li class="gray fl">
            <div class="itemWrap"><span class="icon_line">iPhone5s<i class="icon"></i></span></div>
          </li>
          <li class="fl">
            <div class="itemWrap"><span class="icon_up">iPhone5<i class="icon"></i></span></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--History over-->
  <!--Second-hand start-->
  <div class="secondHandMain layout1200 mt60 clearfix">
    <div class="title fl">
      热门回收
    </div>
    <div class="phoneMain fl">
      <div class="left fl">
        <ul>
          <li style="left: -600px">
            <div class="pic">
              <a href="home/twohand?id=20"><img class="scrollLoading"  data-url="/images/index/h2_iphone6.png" src="/images/public/loading.gif" /></a>
            </div>
            <div class="name">iphone 6</div>
            <div class="btn"><a href="home/twohand?id=20">点我换钱</a></div>
          </li>
          <li style="left: -600px">
            <div class="pic">
              <a href="home/twohand?id=18"><img class="scrollLoading"  data-url="/images/index/h2_iphone5s.png" src="/images/public/loading.gif" /></a>
            </div>
            <div class="name">iphone 5S</div>
            <div class="btn"><a href="home/twohand?id=18">点我换钱</a></div>
          </li>
          <li style="left: -600px">
            <div class="pic">
              <a href="home/twohand?id=16"><img  class="scrollLoading"  data-url="/images/index/h2_iphone5.png" src="/images/public/loading.gif" /></a>
            </div>
            <div class="name">iphone 5</div>
            <div class="btn"><a href="home/twohand?id=16">点我换钱</a></div>
          </li>
        </ul>
      </div>

      <div class="right fr">
        <ul>
          <li style="right: -600px">
            <div class="pic">
              <a href="home/twohand?id=26"><img class="scrollLoading"  data-url="/images/index/h2_note3.png" src="/images/public/loading.gif" /></a>
            </div>
            <div class="name">Galaxy note 3</div>
            <div class="btn"><a href="home/twohand?id=26">点我换钱</a></div>
          </li>
          <li style="right: -600px">
            <div class="pic">
              <a href="home/twohand?id=38"><img class="scrollLoading"  data-url="/images/index/h2_GalaxyS4.png" src="/images/public/loading.gif" /></a>
            </div>
            <div class="name">Galaxy S4</div>
            <div class="btn"><a href="home/twohand?id=38">点我换钱</a></div>
          </li>
          <li style="right: -600px">
            <div class="pic">
              <a href="home/twohand?id=10"><img class="scrollLoading"  data-url="/images/index/h2_mi3.png" src="/images/public/loading.gif" /></a>
            </div>
            <div class="name">小米 3</div>
            <div class="btn"><a href="home/twohand?id=10">点我换钱</a></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--Second-hand over-->
  <!--trade in start-->
  <div class="tradeIn layout1200 mt60 clearfix">
    <div class="title fl">
      以旧换新
    </div>
    <div class="main fl">
      <div class="left fl pr shadebtn oh iphone6">
        <div class="shade" style="width: 236px; height: 534px;"></div>
        <div class="shade" style="width: 236px; height: 534px;alpha(opacity=100);-moz-opacity:1;opacity:1; background-color: inherit">
          <a href="/home/phone?id=74" class="buyNowBtn" style="margin:200px 0 0 55px">立即购买</a>
          <a href="/home/twohand?form=74" class="tradeInBtn" style="margin: 25px 0 0 55px">以旧换新</a>
        </div>
        <img class="scrollLoading" data-url="/images/index/old_iphone6.png"  src="/images/public/loading.gif"/>
        <ul class="priceWrap">
          <li class="newPrice">
            <p>新机价</p>
            <p>¥6088</p>
          </li>
          <li class="changePrice">
            <p>换新价</p>
            <p>¥5988</p>
          </li>
        </ul>
      </div>
      <div class="left-line-left fl">
        <div class="line"></div>
      </div>
      <div class="middle fl">
        <div class="top pr shadebtn oh iphone6p">
          <div class="shade" style="width: 653px; height: 228px;"></div>
          <div class="shade" style="width: 653px; height: 228px;alpha(opacity=100);-moz-opacity:1;opacity:1; background-color: inherit">
            <a href="/home/phone?id=76" class="buyNowBtn fl" style="margin: 90px 0 0 190px">立即购买</a>
            <a href="/home/twohand?form=76" class="tradeInBtn fl" style="margin:90px 0 0 30px">以旧换新</a>
          </div>
          <img class="scrollLoading" data-url="/images/index/old_iphone6P.png"  src="/images/public/loading.gif"/>
          <ul class="priceWrap">
            <li class="newPrice">
              <p>新机价</p>
              <p>¥6888</p>
            </li>
            <li class="changePrice">
              <p>换新价</p>
              <p>¥6788</p>
            </li>
          </ul>
        </div>
        <div class="top-line-bottom">
          <div class="line long fr"></div>
        </div>
        <div class="bottom">
          <div class="left pr shadebtn oh mi4note">
            <div class="shade" style="width: 308px; height: 302px;"></div>
            <div class="shade" style="width: 308px; height: 302px;alpha(opacity=100);-moz-opacity:1;opacity:1; background-color: inherit">
              <a href="/home/phone?id=25" class="buyNowBtn fl" style="margin: 130px 0 0 20px">立即购买</a>
              <a href="/home/twohand?form=25" class="tradeInBtn fl" style="margin:130px 0 0 30px">以旧换新</a>
            </div>
            <img class="scrollLoading" data-url="/images/index/old_mi4Note.png"  src="/images/public/loading.gif"/>
            <ul class="priceWrap">
              <li class="newPrice">
                <p>新机价</p>
                <p>¥1999</p>
              </li>
              <li class="changePrice">
                <p>换新价</p>
                <p>¥1899</p>
              </li>
            </ul>
          </div>
          <div class="left-line-right">
            <div class="line"></div>
          </div>
          <div class="right pr shadebtn oh galaxynote4">
            <div class="shade" style="width: 308px; height: 302px;"></div>
            <div class="shade" style="width: 308px; height: 302px;alpha(opacity=100);-moz-opacity:1;opacity:1; background-color: inherit">
              <a href="/home/phone?id=27" class="buyNowBtn fl" style="margin: 130px 0 0 20px">立即购买</a>
              <a href="/home/twohand?form=27" class="tradeInBtn fl" style="margin:130px 0 0 30px">以旧换新</a>
            </div>
            <img class="scrollLoading" data-url="/images/index/old_galaxyNote4.png"  src="/images/public/loading.gif"/>
            <ul class="priceWrap">
              <li class="newPrice">
                <p>新机价</p>
                <p>¥3999</p>
              </li>
              <li class="changePrice">
                <p>换新价</p>
                <p>¥3899</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="left-line-right fl">
        <div class="line"></div>
      </div>
      <div class="right fl pr shadebtn oh galaxys6">
        <div class="shade" style="width: 236px; height: 534px;"></div>
        <div class="shade" style="width: 236px; height: 534px;alpha(opacity=100);-moz-opacity:1;opacity:1; background-color: inherit">
          <a href="/home/phone?id=28" class="buyNowBtn" style="margin:200px 0 0 55px">立即购买</a>
          <a href="/home/twohand?form=28" class="tradeInBtn" style="margin: 25px 0 0 55px">以旧换新</a>
        </div>
        <img class="scrollLoading" data-url="/images/index/old_galaxyS6.png" src="/images/public/loading.gif"/>
        <ul class="priceWrap">
          <li class="newPrice">
            <p>新机价</p>
            <p>¥4488</p>
          </li>
          <li class="changePrice">
            <p>换新价</p>
            <p>¥4388</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--trade in over-->
  <!--promise start-->
  <div class="layout1200">
    <img class="scrollLoading" style="display: block;margin:200px auto 10px;" data-url="/images/index/promise.png"  src="/images/public/loading.gif" />

  </div>
  <!--promise over-->

  <!--index footer start-->
  <div class="indexFooter">
    <div class="layout1200">
      <div class="left fl">
        <img  class="computerImg scrollLoading" data-url="/images/index/footerComputer.jpg" src="/images/public/loading.gif">
        <div class="companyInfo">
          <img class="computer scrollLoading"  data-url="/images/index/QRcode.png" src="/images/public/loading.gif"/>

          <div class="phoneNumber"><img class="phone scrollLoading" data-url="/images/index/phone.png" src="/images/public/loading.gif"/><span class="fs24">4008-433-580</span><span class="fs18 ml15">(8:30-19:00)</span></div>
          <div class="computerName">维时科技有限公司©浙ICP备15007035号-1</div>
        </div>
      </div>
      <div class="right fr">
        <div class="navigate">
          <a href="/home/article/aboutus">关于我们</a>
          <a href="/home/jobs">媒体报道</a>
          <a href="/home/article/contract">服务条款</a>
          <a class="navigateLast" href="/home/jobs">帮助中心</a>
        </div>
      </div>
    </div>
  </div>
  </main>
  <!--index footer over-->
  <div class="rightFix">
    <div class="grid icon backTop hand" data-word="回 顶"></div>
    <div class="grid icon select hand" data-word="查 询"></div>
    <div class="grid icon wechat hand" data-word="微 信"></div>
    <div class="grid icon service hand" data-word="客 服"></div>
  </div>


  <% include footer %>